.category{border:1px solid #f9f9f9;}
.button-title{
    background-color: #f9f9f9;
    color: #55acee;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px dashed #f1f1f1 !important;
    text-align: left;
    outline: none;
    position: relative;
    display: block;
}
.content-item{
    padding:0 15px;
}
.content-item ul{
    margin: 0px;
    padding: 15px 0px;
    list-style: none;
}
.content-item ul li{
    margin-bottom: 5px;
}
.content-item ul li a{ 
    display: inline-block;
    position: relative;
    color: #263c49;
}
.main-item{
    margin: 30px 0;
}
#SortBy{
    position: relative!important;
}