.form-login,.forget-pw{
    width:33.333%;
    padding:  30px;
}
#submit{
    border-radius: 5px;
    background: #55acee;
}
.form-login input{
    border-radius: 5px;
}
.title-login
    h2 {
        color: #55acee;
        padding: 0px 0px 15px 0px;
        margin: 0px 0px 15px 0px;
        border-bottom: 1px solid #f1f1f1;
}
.forget-pw{
    display: none;
}